# APP
# ===================
# local
PORT=3000
NODE_ENV=
DATABASE_URL=

#  ----------- or --------------

# liara
PORT=3000
NODE_ENV=production
DATABASE_URL=

# ===============================
# Liara Object Storage
LIARA_ENDPOINT=
LIARA_PUBLIC_ENDPOINT=
LIARA_ACCESS_KEY=
LIARA_SECRET_KEY=
LIARA_BUCKET_NAME=